.background {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.landing {
  background-image: url("./../../assets/background.svg");
  background-size: cover;
  background-color: aliceblue;
}

.app-logo {
  display: flex;
  padding-bottom: 2vh;
  max-width: 400px;
}

.ilustration {
  display: flex;
  max-width: 70%;
  min-width: 300px;
  margin: auto;
}

.researcher {
  display: flex;
  width: auto;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  width: 50%;
  height: 50%;
}
