* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif; */
}

#root html {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.vspace-2px {
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

.vspace-2vh {
  margin: 2vh 0;
}

.vspace-1vh {
  margin: 1vh 0;
}

.hspace-1vw {
  margin: 0 0.5vw;
}

.bottom-1vh {
  margin-bottom: 1vh;
}

.right-1vw {
  margin-right: 1vw;
}

.inline-spacing {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1vw;
}

.flex-container {
  display: flex;
  padding: 2vh 1vw;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: x-large;
  flex-direction: column;
}

.center-text {
  display: flex;
  text-align: center;
  flex-direction: row;
  font-size: medium;
  justify-content: center;
  align-items: center;
}

.spotlight {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: max-content;
  max-width: max-content;
}

.wrap-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: max-content;
  max-width: max-content;
}

.reversed-row {
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: block;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnContainer {
  display: block;
  white-space: nowrap;
}

.textRow {
  display: flex;
  margin: 1vh;
  justify-content: center;
}

.cardRow {
  padding-bottom: 20px;
}

.top {
  padding-top: 0px;
}

.col {
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
}
